.section {
  width: 100%;
  background-color: var(--color-light);
  color: var(--text-dark);
  padding: 6rem 2rem;
  text-align: center;
}

h2 {
  color: var(--color-primary);
  margin-bottom: 1rem;
}

p {
  max-width: 700px;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.6;
}
