<!-- CERTIFICATIONS -->
<div id="certifications" class="min-h-[70vh] py-20" appScrollAnimation="bottom">
  <div class="max-w-5xl mx-auto px-6 text-center">
    <h2 class="text-3xl font-bold mb-10 text-pink-600">Certifications & Training</h2>
    <div class="grid gap-6 md:grid-cols-2">

      <div class="card flex items-center gap-4 px-4 py-4 bg-gray-900 rounded-lg hover:bg-pink-50/10 transition-colors duration-300">
        <img src="assets/mdec-logo.png" alt="MDEC-INTEL AI" class="h-12 w-12 flex-shrink-0">
        <div class="flex flex-col justify-center text-center w-full">
          <h3 class="font-semibold text-lg mb-1">MDEC-INTEL AI Academy</h3>
          <p class="text-sm ">2021</p>
        </div>
      </div>

      <div class="card flex items-center gap-4 px-4 py-4 bg-gray-900 rounded-lg hover:bg-pink-50/10 transition-colors duration-300">
        <img src="https://cdn.simpleicons.org/figma/F24E1E" alt="UI/UX Design" class="h-10 w-10 flex-shrink-0">
        <div class="flex flex-col justify-center text-center w-full">
          <h3 class="font-semibold text-lg mb-1">UI/UX Design Fundamentals</h3>
          <p class="text-sm ">2023</p>
        </div>
      </div>

      <div class="card flex items-center gap-4 px-4 py-4 bg-gray-900 rounded-lg hover:bg-pink-50/10 transition-colors duration-300">
        <img src="https://cdn.simpleicons.org/flutter/02569B" alt="Flutter" class="h-10 w-10 flex-shrink-0">
        <div class="flex flex-col justify-center text-center w-full">
          <h3 class="font-semibold text-lg mb-1">Flutter - Intermediate</h3>
          <p class="text-sm ">2023</p>
        </div>
      </div>

      <div class="card flex items-center gap-4 px-4 py-4 bg-gray-900 rounded-lg hover:bg-pink-50/10 transition-colors duration-300">
        <img src="assets/live-helper-chat-logo.png" alt="Chatbot" class="h-10 w-10 flex-shrink-0">
        <div class="flex flex-col justify-center text-center w-full">
          <h3 class="font-semibold text-lg mb-1">Chatbot (Live Helper Chat)</h3>
          <p class="text-sm">2024</p>
        </div>
      </div>

    </div>
  </div>
</div>
